/* 
1. Posicionamiento
2. BoxModel
3. Tipografia
4. Visual tema
5. Otros
*/

:root {
  --bitcoint-orange: #f7931a;
  --soft-orange: #ffe9d5;
  --secondary-blue: #1a9af7;
  --foft-blue: #e7f5ff;
  --warm-black: #201E1C;
  --black: #282623;
  --grey: #bababa;
  --off-white: #faf6f7;
  --just-white: #fff;

}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: 'DM Sans', sans-serif;
}

header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-width: 320px;
  height: 334px;
  text-align: center;
  background: linear-gradient(207.8deg, #040100 16.69%, #dc1ac6 100%);
}

header img {
  width: 150px;
  height: 24px;
  margin-top: 60px;
  align-self: center;
}

.header--title--container {
  width: 90%;
  min-width: 288px;
  max-width: 900px;
  height: 218px;
  margin-top: 40px;
  text-align: center;
  align-self: center;
}

.header--title--container h1 {
  font-size: 2.4rem;
  line-height: 2.6rem;
  color: var(--just-white);
}

.header--title--container h1 span {
  font-size: 2.6rem;
  text-align: center;
  display: block;
  font-weight: bold;
  font-family: system-ui;
}

.header--title--container button {
  cursor: pointer;
  background: var(--just-white);
  color: var(--warm-black);
  font-weight: 600;
  letter-spacing: 2px;
  border: none;
  padding: 14px 20px;
  border-radius: 20px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
  margin: 40px;
  -webkit-box-shadow: 7px 14px 13px -7px rgb(181 121 181 / 56%);
  -moz-box-shadow: 7px 14px 13px -7px rgba(181, 121, 181, 0.56);
  box-shadow: -1px 15px 18px -10px #b579b59e;
}

.header--title--container button a {
  color: #0044ff;
}

.header--title--container button:hover::after {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.header--title--container button::after {
  border-radius: 20px;
  content: "";
  background: #ff78e6;
  border: 1px solid #b579b59e;
  position: absolute;
  z-index: -1;
  padding: 14px 20px;
  display: block;
  top: 0;
  bottom: 0;
  left: 100%;
  right: -100%;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.header--title--container p {
  margin-top: 25px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: var(--soft-orange);
}

.header--title--container .header--button {
  display: block;
  left: calc(50% - 108px);
  position: absolute;
  /* Toma la posicion del padre */
  top: 270px;
  margin-top: 35px;
  padding: 15px;
  width: 209px;
  height: 48px;
  background-color: var(--off-white);
  /* Sombra */
  box-shadow: 1px 4px 8px 0px rgb(109 34 121 / 20%);
  border: none;
  border-radius: 5px;
  font-size: 1.4rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--black);
}

.header--button span {
  display: inline-block;
  width: 13px;
  height: 8px;
  margin-left: 10px;
  background-image: url('./assets/icons/down-arrow.svg');
}

main {
  width: 100%;
  height: auto;
  background-color: var(--off-white);
}

.main-exchange-container {
  width: 100%;
  height: auto;
  padding-top: 80px;
  padding-bottom: 30px;
  text-align: center;
}

.main-exchange-container--title {
  width: 90%;
  min-width: 288px;
  max-width: 800px;
  margin: 0 auto;
  /* Se posiciona en el centro siempre */
}

.profilePhoto {
  width: 215px;
  height: 200px;
  margin: 0 auto;
  margin-bottom: 50px;
  /* background-image: url("./assets/img/myPhoto.jpg"); */
  background-size: cover;
  /* No se repita la imagen */
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 73px;
}


.main-exchange-container h2 {
  margin-bottom: 30px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.main-exchange-container p {
  margin-bottom: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.6rem;
  counter-reset: #757575;
}

.main-currency-table {
  width: 70%;
  min-width: 235px;
  max-width: 500px;
  height: 360;
  margin: 0 auto;
  /* No le agrega margin arriba y abajo, pero calcula para que se quede en el centro. */
  font-family: "inter", sans-serif;
}

.main-currency-table .main-currency-table--title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 2.3rem;
  color: var(--bitcoint-orange);
}

.main-currency-table--container {
  width: 90%;
  min-width: 230px;
  max-width: 300px;
  height: 250px;
  margin: 0 auto;
}

.main-currency-table--container table {
  width: 100%;
  height: 100%;
}

.main-currency-table--container td {
  font-size: 1.6rem;
  width: 50%;
  font-weight: 500;
  line-height: 1.9rem;
  color: var(--grey);
  background-color: var(--just-white);

}

.main-currency-table--container .table__top-left {
  border-radius: 15px 0 0 0;
}

.main-currency-table--container .table__top-right {
  border-radius: 0 15px 0 0;
}


.main-currency-table--container .table__bottom-left {
  border-radius: 0 0 0 15px;
}


.main-currency-table--container .table__bottom-right {
  border-radius: 0 0 15px 0;
}

.main-currency-table--container .table__right {
  font-size: 1.4rem;
  font-weight: normal;
  line-height: 1.7rem;
  color: #757575;

}

.main-currency-table--container .down {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-down.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.main-currency-table--container .up {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 10px;
  background-image: url("./assets/icons/trending-up.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.currency-table--date {
  width: 190px;
  height: 30px;
  margin: 0 auto;
  margin-top: 15px;
  padding: 8px;
  background-color: var(--soft-orange);
  border-radius: 8px;
}

.currency-table--date p {
  font-size: 1.2rem;
  line-height: 1.5rem;
  color: var(--warm-black);
  font-weight: 300;
}

.main-product-detail {
  position: relative;
  width: 100%;
  min-width: 320px;
  height: auto;
  padding: 50px 10px;
  background-color: var(--warm-black);
}

.atom-ico {
  position: absolute;
  width: 70px;
  height: 70px;
  top: -35px;
  left: calc(50% - 30px);
}

.product-detail-title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-top: -10px;
  text-align: center;
}

.product-detail-title h2 {
  margin-bottom: 20px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--just-white);
}

.product-detail-title p {
  margin-bottom: 20px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #808080;
}

.product-detail--card {
  display: block;
  width: 85%;
  min-width: 258px;
  max-width: 400px;
  height: 150px;
  margin: 15px auto;
  padding: 15px;
  border-radius: 5px;
  background-color: var(--black);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.16);
}

/* .product-detail--card .clock {
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-bottom: 10px;
  background-image: url("./assets/icons/clock.svg");
  background-size: cover;
  background-position: center;
} */

.product--card-title {
  margin-bottom: 15px;
  font-size: 1.8rem;
  font-weight: bold;
  line-height: 1.8rem;
  text-align: center;
  color: var(--just-white);

}

.figure-icon {
  justify-content: center;
  text-align: center;
}

.jsicon {
  width: 95px;
  height: 80px;
  margin: 0 auto;
  /* background-image: url("./assets/img/myPhoto.jpg"); */
  background-size: cover;
  /* No se repita la imagen */
  background-position: center;
  background-repeat: no-repeat;

}

.icon {
  width: 115px;
  height: 95px;
  margin: 0 auto;
  /* background-image: url("./assets/img/myPhoto.jpg"); */
  background-size: cover;
  /* No se repita la imagen */
  background-position: center;
  background-repeat: no-repeat;
}

.product-cards--container {
  height: 336px;
  overflow-y: scroll;
  overscroll-behavior-y: contain;
  scroll-snap-type: y proximity;
}

.main-plans-container {
  position: relative;
  width: 100%;
  min-width: 320px;
  padding-bottom: 70px;
  text-align: center;
}

.plans--title {
  width: 90%;
  min-width: 288px;
  height: auto;
  margin: 0 auto;
  margin-bottom: 50px;
}

.plans--title h2 {
  padding-top: 50px;
  font-size: 2.4rem;
  font-weight: bold;
  line-height: 2.6rem;
  color: var(--black);
}

.plans--title p {
  padding-top: 30px;
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  color: #757575;
}

.plans-container--card {
  position: relative;
  scroll-snap-align: center;
  /* Centra las tarjetas */
  width: 70%;
  min-width: 190px;
  max-width: 300px;
  height: 170px;
  margin: 50px 10px 0;
  padding: 0 15px;
  background-color: var(--just-white);
  border-radius: 15px;
  box-shadow: 0 4px 8px rgb(89, 73, 30, 0.16);
}

.recommended {
  position: absolute;
  width: 120px;
  height: 31px;
  font-size: 1.2rem;
  font-weight: bold;
  padding: 6px;
  left: calc(50% - 60px);
  top: -15px;
  background-color: var(--bitcoint-orange);
  border-radius: 8px;
  color: var(--just-white);
}

.compan-ico {
  width: 156px;
  height: 150px;
  margin: 0 auto;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.compan-ico-seaq {
  margin: 0 auto;
  margin-top: 60px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.compan-ico-digital {
  margin: 0 auto;
  width: 156px;
  height: 49px;
  margin-top: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.plan-infor-container {
  align-content: center;
  background-position: center;
}

.compan-figure {
  margin: 0 auto;
  align-content: center;
  background-position: center;
}

.plans-container--slider {
  margin-top: -50px;
  display: flex;
  height: 256px;
  overflow-x: scroll;
  overscroll-behavior-x: contain;
  scroll-snap-type: x proximity;
}

footer {
  display: block;
  height: 150px;
  background-color: var(--bitcoint-orange);
}

footer section {
  display: flex;
  width: 100%;
  height: 50%;
  align-items: center;
  justify-content: center;

}

footer .left {
  font-size: 1.4rem;
  font-weight: 500;
  line-height: 1.8rem;
  list-style: none;
  display: grid;
  grid-auto-flow: column;
  justify-content: center;
  column-gap: 30px;
}

footer .iconFooter {
  width: 30px;
  height: 30px;
  margin-top: 35px;
}

footer .icowhatsapp {
  width: 35px;
  height: 36px;
}

footer .copyright {
  margin-top: -15px;
  font-size: 1.5rem;
  color: var(--just-white);
  font-family: system-ui;
}